<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9825977049-r00f45agbhg3uf7druboh4npvkljnosj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9825977049-r00f45agbhg3uf7druboh4npvkljnosj</string>
	<key>API_KEY</key>
	<string>AIzaSyDaOQSHmogX9BHeuctzwYGhqprybNcnQaw</string>
	<key>GCM_SENDER_ID</key>
	<string>9825977049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.vitalage.vitalAge</string>
	<key>PROJECT_ID</key>
	<string>vitalage-site</string>
	<key>STORAGE_BUCKET</key>
	<string>vitalage-site.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9825977049:ios:52502c4b4e10cb27acb4c8</string>
</dict>
</plist>